* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
  text-align: center;
}

canvas {
  background-color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

header {
  background-color: #333;
  height: 100px;
}

#game-area {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
  padding: 10px;
}

.instructions {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  padding-top: 10px;
  align-content: center;
  background: #555;
  color: #fff;
}

.controls {
  text-align: left;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
