* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #666;
  text-align: center;
}

canvas {
  background-color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

header {
  background-color: #333;
  height: 100px;
}

#game-area {
  width: 80%;
  background-color: #333;
  margin-left: 10%;
  margin-top: 20%;
  text-align: center;
  padding: 10px;
}


